{% extends "layout.html" %}
{% block title %}TasaVE{% endblock %}

{% block main %}
    <!-- <div class="container-fluid content-box align-middle mb-4 mt-4">
        <div class="flex-item">
                <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-3829639056752076" crossorigin="anonymous"></script>

            <ins class="adsbygoogle"
                    style="display:inline-block;width:280px;height:280px"
                    data-ad-client="ca-pub-3829639056752076"
                    data-ad-slot="6602397094"></ins>
            <script>
                    (adsbygoogle = window.adsbygoogle || []).push({});
            </script>
       </div>
    </div> -->

    <div class="container-fluid content-box align-middle mb-4 mt-4">
        <div class="flex-item">Tasa Bs/USD</div>
        <div class="flex-item">BCV: {{ information.rate }}</div>
        <div class="flex-item">{{ information.date }}</div>
    </div>
{% endblock %}
        
    